// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

// Packages
@import "node_modules/bulma/bulma";
@import "node_modules/fullcalendar/dist/fullcalendar";
@import "node_modules/spectrum-colorpicker/spectrum";
@import "node_modules/datetimepicker/dist/DateTimePicker";

// Components
@import "components/auth-form";
@import "components/wait-window";
@import "components/event-statuses";
@import "components/colorpicker";
@import "components/datepicker";

// Variables
@import "variables";

.is-danger {
  input {
    border-color: $is-danger-color;
  }
}

i,
span {
  &.is-danger {
    color: $is-danger-color;
  }
}

form {
  &.disabled {
    input,
    textarea {
      pointer-events: none;
    }
  }
}